**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/*.tfvars

**/*.pem
**/*.key
**/credentials
**/.env
**/.env.*

**/.aws-sam/
**/cdk.out/

.DS_Store

.vscode/
.idea/

target/
*.class
*.jar
!openrasp-agent.jar

node_modules/

**/*.bak
**/*.preedit-backup

PROJECT.md
docs/
architecture/
